.linear-gradient(@param1,@param2)
{
    background: -webkit-linear-gradient(@param1, @param2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(@param1,@param2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(@param1, @param2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(@param1,@param2); /* Standard syntax (must be last) */
}
#detailarticle{
    border : 1px solid #969FF2;
    padding : 25px;
    .linear-gradient(#92EFDE,#6161ED);
    h4{
        text-align:center;
    }
    .contentde{
        font-family: 'Roboto Slab', serif;    
        font-size: 16px;
        line-height: 1.42857143;
        color: #333;
        background-color: #96FFB7;
    }
}