#list-news {
 >.row{
     padding : 20px;
     margin-top : 10px;
     border : 1px solid #777C82;
     border-radius : 4px;
     width: 725px;
     background : #BEBAFF; 
     .row{
         width : 700px;
     }
 }
}