#list-detail {
  display:block;
  min-width:705px;
  padding:0px auto;
  .headtitle {
    background:url("../img/bar-list-good.png") repeat-x top left;
    color:white;
    text-align:center;
    font-size:120%;
  }
  .title {
    margin-top:-7px;
    margin-bottom:5px;
    font-weigth:bold;
    font-size:20px;
    font-family:CODE Bold;
    text-align:center;
  }
  img {
    width:90%;
    margin:auto;
  }
  .in {
    width:68px;
    height:26px;
    display:inline-block;
    vertical-align:middle;
  }
  .price {
    font-weight:bold;
    width:90%;
    margin:auto;
    text-align:center;
  }
  .groupbutton {
    margin-bottom:5px;
  }
}
.column {
  float:left;
  display:block;
  width:200px;
  height:200px;
  padding:18px;
  margin:10px;
  border:2px inset #edc344;
}