@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin,vietnamese);
#area-login
{
    margin :20;
    article {
        margin : 0 auto;
    }

    h2{
        background-color: #7F9BFF;
        padding : 20px;
        text-align : center;
        font-weight : bold;
        font-size : 25px;
        -webkit-box-shadow: 8px 8px 5px -4px rgba(123,161,184,1);
        -moz-box-shadow: 8px 8px 5px -4px rgba(123,161,184,1);
        box-shadow: 8px 8px 5px -4px rgba(123,161,184,1);
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 4px ridge #adaffa;
    }
    #content-login
    {
        height:600;
        width :600;
        margin : 0 auto;
        border: 5px groove #00FFFF;
        background-color : #C1F3FF; 
        #wrap-center{
            width : 600px;
            margin : 12px auto;
            form{
                ul{
                    display : block;
                    height : 56px;
                    li{
                        display:block;
                        color:red;
                        font-weight:bold;
                        font-size:20px;
                        text-align:center;
                    }
                }
                
                .losepass{
                    display:block;
                    text-align :center;  
                    text-decoration : none;
                    font-family: 'Source Sans Pro', sans-serif;
                    color : #66697C;
                }
                .label{
                  font-family: 'Source Sans Pro', sans-serif;
                  width:250px;
                  height:40px;
                  text-align:center;
                  vertical-align: middle;
                  text-align: right;
                  clear: both;
                  float:left;
                  font-weight:bold;
                  font-size:18px;
                  color: #000000;
                  margin : 12px auto;
                }
                input {
                    width : 245px;
                    height : 28px;
                    display: block;
                    margin : 12px auto;
                }
                p
                {
                    text-align:center;
                    width : 245px;
                    height : 28px;
                    display: block;
                    margin : 12px auto;
                }
                button
                {
                    
                }
                .btn-login,.btn-register {
                	background-color:#44c767;
                	-moz-border-radius:28px;
                	-webkit-border-radius:28px;
                	border-radius:28px;
                	border:1px solid #18ab29;
                	display : block;
                    margin :15px auto;
                	cursor:pointer;
                	color:#ffffff;
                	font-family:arial;
                	font-size:17px;
                	padding:10px 53px;
                	text-decoration:none;
                	text-shadow:0px 1px 0px #2f6627;
                	&:hover{
                	    background-color:#5cbf2a;	    
                	}
                	&:active{
                	    position:relative;
                	    top:1px;    
                	}
                }
                
                    
            }
        }
    }
}