.left()
{
    float:left;
}
.right()
{
    float:right;
}

#area-login
{
    margin :20;
    article {
        margin : 0 auto;
    }
    .header-top{
        display:block;
        height : 30px;
    }
    h2{
        background-color: #7F9BFF;
        padding : 20px;
        text-align : center;
        font-weight : bold;
    }
    #content-login
    {
        height:auto;
        margin : 0 auto;
        #wrap-center{
            background-color : #C1F3FF; 
            width : 100%;
            min-height : 800px;
            margin : 12px auto;
            ul{
                li{
                  color : red;
                  font-weight : bold;
                  text-align :center;
                  font-size:20px;
                }
            }
            form{
                display:block;
                max-width:810px;
              
                .losepass{
                    display:block;
                    text-align :center;
                }
                .label{
                  width:250px;
                  height:40px;
                  text-align:center;
                  vertical-align: middle;
                  background-color:#65F3FF;
                  font-weight:bold;
                  color: #6580FF;
                  font-size:18px;
                  margin : 12px auto;
                }
                input {
                    width : 245px;
                    height : 28px;
                    display: block;
                    margin : 12px auto;
                }
                button
                {
                    display : block;
                    width : 147px;
                    height : 43px;
                    margin :15px auto;
                }
                
            }
        }
    }
}