#showcart{
    td{
      padding :15px;
      border :3px inset #6BA8FF;
    }
    table{
        border :1px solid #6BA8FF;
        width:870px;
        caption{
            font-size:25px;
            font-weight:bold;
            color:#384FFF;
            margin-top:20px;
            margin-bottom:20px;
        }
        thead{
          font-weight:bold;
          background: url(../img/headertable.png) repeat-x;
        }
    }
    .event{
        width:870px;
        padding-top:30px;
    }
    
}