/* CSS crunched with Crunch - http://crunchapp.net/ */
#detailarticle{border:1px solid #969FF2;padding:25px;background:-webkit-linear-gradient(#92efde, #6161ed);background:-o-linear-gradient(#92efde, #6161ed);background:-moz-linear-gradient(#92efde, #6161ed);background:linear-gradient(#92efde, #6161ed)}#detailarticle h4{text-align:center}#detailarticle .contentde{font-family:'Roboto Slab',serif;font-size:16px;line-height:1.42857143;color:#333;background-color:#96FFB7}