a{
	text-decoration: none;
}
/*style header*/
#header
{
	width:1180px;
	height:110px;
	position:relative;
	margin: 0px auto;
	background: url(../img/bannertop.png) no-repeat left top; 
}
#header .foot-of-header
{
	position:absolute;
	margin-right:50px;
	margin-bottom:10px;
	padding:9px;
 	background : url("../img/repeat-header.png") repeat; 
}
#header .foot-of-header a
{
	font-weight: bold;
	margin-left: 30px;
	margin-right : 30px;
	display:inline-block;
}
#header .wrap-footer
{
	display:block;
	width:100%;
	height:35px;
	position:absolute;
	margin-left:0px;
	margin-top:76px;
}
/*end style header*/

/* style cho sidebar left */
.sidebar-left
{
  display:block;
  border:1px solid #99c6c0;
  border-radius:16px;
  margin-left:20px;
  width : 300px;	
	
}
.sidebar-left table{
	width: 100%;
	background-color: #89D9F9;	
}

.sidebar-left h4{
  padding:5px 10px 5px 10px;
  font-weight:bold;	
  background-color:#2590bc;
}

.sidebar-left table tbody tr td
{
	padding:5px 10px;
}

.sidebar-left table tbody tr
{
  width:300px;
  height:36px;
  background : url("../img/side-bar.png") no-repeat; 
}

#wrap-main
{
	display:block;
	width:1150px;
	min-width:900px;
	min-height:500px;
}

.article-center
{
	float:right;
	width:800px;
	display:block;
	word-wrap: break-word;
	border:3px solid #82a3ff;
	border-radius: 10px;
	
}
.article-center .content
{
	padding: 20px;
	line-height: 120%;
	margin-top:15px;
	font-family: 'Roboto', sans-serif;
	background-color: #f4dede;
	font-size:90%;
}
.article-center header
{
	text-align: center;
	background: url(../img/header-content.png) repeat-x left top; 
	padding-top:8px;
	padding-bottom:8px;
}
.sidebar-left{
	float :left;
}
footer.footer-main
{
	clear:both;
}
/*end style cho sidebar left*/

/* style cho sidebar top*/
#sidebar-top
{
  display:block;
  clear:both;
  width:1180px;
  margin:0px auto;
  height:30px;	
}
#search
{
	display:block;
	width:218;
	height:40px;
}
#sidebar-top nav .content-inline
{
/*	box-sizing:border-box; */
}


#search .field
{
	background: url(../img/search.png) no-repeat 169px -1px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	font-size: 14px;
	height: 22px;
	line-height: 1.2em;
	padding: 4px 10px 4px 28px;
}
input[type=text]
{
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);
}
#sidebar-top nav .right{
	float:right;
	margin-top: -31px;
}
#sidebar-top nav .left{
	width:35px;
	float:right;
	margin-right:-100px;
}
#sidebar-top .content-run
{
    
}
#sidebar-top .content-run li{
	display:inline-block;
	margin: 10px;
	padding:10px;
	text-transform: uppercase;
	font-weight: bold;
	background: url(../img/menu-item.png) no-repeat top left;
	height:15px;
}
/* resize for footer */
.footer-main{
	padding-top:30px;
	clear:both;
	width:1150px;
	height:200px;
	margin:0px auto;
	background: #ffffff url("../img/background_footer.png") repeat-x left top;
}
.footer-main .left
{
	display:block;
	float :left;
	width : 715px;
	height:165px;
}
.footer-main .left .inline-column
{
	float :left;
	margin-left:70px;
}
.footer-main .left .inline-column h2{
	font-weight: bold;
	font-size: 23px;
}

.footer-main .left .inline-column li
{
	padding:5px 10px 5px 10px;
	border-bottom:1px dashed #ffffff;
}
.footer-main .right{
	float:right;
	display:block;
	width:400px;
}
#separate{
	display:block;
	width:1150px;
	height:8px;
	background-color:#233827;
	clear:both;
	margin-top:-38px;
	margin-bottom : 30px;
}

/* end resize for footer */