/* CSS crunched with Crunch - http://crunchapp.net/ */
a {
  text-decoration: none;
}
#header {
  width: 1180px;
  height: 110px;
  position: relative;
  margin: 0px auto;
  background: url(../img/bannertop.png) no-repeat left top;
}
#header .foot-of-header {
  position: absolute;
  margin-right: 50px;
  margin-bottom: 10px;
  padding: 9px;
  background: url("../img/repeat-header.png") repeat;
}
#header .foot-of-header a {
  font-weight: bold;
  margin-left: 30px;
  margin-right: 30px;
  display: inline-block;
}
#header .wrap-footer {
  display: block;
  width: 100%;
  height: 35px;
  position: absolute;
  margin-left: 0px;
  margin-top: 76px;
}
.sidebar-left {
  display: block;
  margin-left: 20px;
  width: 300px;
  float: left;
}
.sidebar-left table {
  width: 100%;
  background-color: #89d9f9;
}
.sidebar-left table tbody tr {
  width: 300px;
  height: 36px;
  background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=4ea6caff&noise=ab80ab&density=13&opacity=18);
}
.sidebar-left table tbody tr td {
  padding: 5px 10px;
}
.sidebar-left table tbody tr td a {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  text-decoration: none ;
}
.sidebar-left h4 {
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=cad6dbff&noise=ab80ab&density=13&opacity=18);
  border-top: thick solid #A0A0A0;
}
#wrap-main {
  display: block;
  width: 1150px;
  min-width: 900px;
  min-height: 500px;
}
.article-center {
  float: right;
  width: 800px;
  display: block;
  word-wrap: break-word;
}
.article-center .content {
  padding: 20px;
  line-height: 120%;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  background-color: #f4dede;
  font-size: 105%;
}
.article-center header {
  text-align: center;
  background: #f1e767;
  background: -moz-linear-gradient(top, #f1e767 0%, #e6c373 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f1e767), color-stop(100%, #e6c373));
  background: -webkit-linear-gradient(top, #f1e767 0%, #e6c373 100%);
  background: -o-linear-gradient(top, #f1e767 0%, #e6c373 100%);
  background: -ms-linear-gradient(top, #f1e767 0%, #e6c373 100%);
  background: linear-gradient(to bottom, #f1e767 0%, #e6c373 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1e767', endColorstr='#e6c373', GradientType=0);
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 5px groove #FFA76D;
}
footer.footer-main {
  clear: both;
}
#sidebar-top {
  display: block;
  clear: both;
  width: 1180px;
  margin: 0px auto;
  height: 30px;
}
#sidebar-top .content-run li {
  display: inline-block;
  margin: 7px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  background: url(../img/menu-item.png) no-repeat top left;
  height: 40px;
}
#sidebar-top #search {
  display: block;
  width: 218;
  height: 40px;
}
#sidebar-top #search .field {
  background: url(../img/search.png) no-repeat 188px 3px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-size: 14px;
  height: 28px;
  line-height: 1.2em;
  padding: 4px 10px 4px 28px;
}
input[type=text] {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.footer-main {
  margin-top: 20px;
  padding-top: 0px;
  clear: both;
  width: 1150px;
  height: 295px;
  margin: 0px auto;
  background: #ffffff url("../img/background_footer.png") repeat-x left top;
}
.footer-main .left {
  display: block;
  float: left;
  width: 715px;
  height: 165px;
}
.footer-main .left .inline-column {
  float: left;
  margin-left: 70px;
}
.footer-main .left .inline-column h2 {
  font-weight: bold;
  font-size: 23px;
}
.footer-main .left .inline-column li {
  padding: 5px 10px 5px 10px;
  border-bottom: 1px dashed #ffffff;
}
.footer-main .right {
  float: right;
  display: block;
  width: 400px;
}
#separate {
  display: block;
  width: 1150px;
  height: 8px;
  background-color: #233827;
  clear: both;
  margin-top: 0px;
  margin-bottom: 30px;
}
