@font-face{
    font-family: "CODE Bold";
    src: url('CODE Bold.otf'),
    url('CODE Bold.otf'); /* IE */
}
#list-detail{
	display:block;
	min-width:705px;
	padding:0px auto;	
}
#list-detail .headtitle{
	background:url("../img/bar-list-good.png") repeat-x top left;
	color: white;
	text-align:center;
	font-size:120%;
}
.column{
	float :left;
	display:block;
	width:150px;
	height:150px;
	padding:20px;
	margin:10px;
	border:2px inset #edc344;
}
#list-detail .title
{
	margin-top : -7px;
	margin-bottom: 5px;
	font-weigth:bold;
	font-size:20px;
	font-family: CODE Bold;
	text-align:center;
}
#list-detail img
{
	width:90%;
	margin:auto;
}
#list-detail .in{
	width:68px;
	height:26px;
	display:inline-block;
	vertical-align: middle;
}
#list-detail .price
{
	font-weight:bold;
	width:90%;
	margin:auto;
	text-align:center;
}
#list-detail .groupbutton
{
	margin-bottom:5px;
}
