/* CSS crunched with Crunch - http://crunchapp.net/ */
#showcart td{padding:15px;border:3px inset #6BA8FF}#showcart table{border:1px solid #6BA8FF;width:870px}#showcart table caption{font-size:25px;font-weight:bold;color:#384FFF;margin-top:20px;margin-bottom:20px}#showcart table thead{font-weight:bold;background:url(../img/headertable.png) repeat-x}#showcart .event{width:870px;padding-top:30px}